<div class="social">
    <h3>Join Neptune Records via Social Media</h3>
    <p>Follow us today! </p>
    <ul class="social-links">
        <li><a href="https://www.facebook.com"><img src="images/32x32-facebook.png" alt="social_image"></a></li>
        <li><a href="https://www.instagram.com"><img src="images/32x32-instagram.png" alt="social_image"></a></li>
        <li><a href="https://www.linkedin.com"><img src="images/32x32-linkedin.png" alt="social_image"></a></li>
        <li><a href="https://www.pinterest.com"><img src="images/32x32-pinterest.png" alt="social_image"></a></li>
        <li><a href="https://www.twitter.com"><img src="images/32x32-twitter.png" alt="social_image"></a></li>
        <li><a href="https://www.youtube.com"><img src="images/32x32-youtube.png" alt="social_image"></a></li>
    </ul>
</div>