<div id="main-content">
  <aside id="sidebar-right">
    <div class="login-small">
      <h4>Sign-in or register an account!</h4>
      <a class="account" [routerLink]="['user']">Sign-In</a>
      <a class="account" [routerLink]="['register']">Sign-Up</a>
      <p>Employees login <a [routerLink]="['employee-login']">here.</a></p>
    </div>
  </aside>

  <aside id="sidebar-right">
    <div class="login">
      <h4>Sign-in or register an account!</h4>
      <a class="account" [routerLink]="['user']">Sign-In</a>
      <a class="account" [routerLink]="['register']">Sign-Up</a>
      <p>Employees login <a [routerLink]="['employee-login']">here.</a></p>
    </div>
  </aside>
</div>