<article class="article">
    <header class="art-header"><h1>Check Out These New Releases!</h1></header>
    <div class="product-row">
        <div class="product-release item-1">
            <h2 class="product-item-header">Drake, <br> More Life</h2>
            <img class="product-release-img" src="../app/images/releases/drake.jpg" alt="album-cover">
            <div class="product-release">
                <p class="product-item-text">$14.99</p>
                <p class="product-item-text">Year: 2017 <br>SKU: 7217102</p>
            </div>
        </div>
        <div class="product-release item-2">
            <h2 class="product-item-header">Kehlani, <br> SweetSexySavage</h2>
            <img class="product-release-img" [src]="kehlani.jpg" alt="album-cover">
            <div class="product-release">
                <p class="product-item-text">$12.99</p>
                <p class="product-item-text">Year: 2017 <br>SKU: 7217103</p>
            </div>
        </div>
        <div class="product-release item-3">
            <h2 class="product-item-header">Kendrick Lamaar, <br> Damn</h2>
            <img class="product-release-img" src="images/releases/kendrick.jpg" alt="album-cover">
            <div class="product-release">
                <p class="product-item-text">$14.99</p>
                <p class="product-item-text">Year: 2017 <br>SKU: 7217104</p>
            </div>
        </div>
    </div>
</article>
<article class="article">
    <h2>Upcoming Events</h2>
    <p>Tower District Film Festival -- We're proud to sponser this years Film Festival in the Tower District of Fresno, California.</p>
    <p>Music We Like Contest -- Enter to win a ton of music & movies from our new Music We Like book of staff recommendations.</p>
</article>