<!doctype HTML>
<html lang="en">
    <head>
        <title>Neptune Records | Home</title>
    </head>
    <body>
        <div id="output_width"></div>
        <div id="container"><!--<header class="main-header"><img id="logo" src="images/Nep_Logo.png" alt="planet neptune"/></header>-->
        <div id="main-content">
            <aside id="sidebar-right">
            <div class="login-small">
                <h4>Sign-in or register an account!</h4>
                <a class="account" href="login/user_login.html">Sign-In</a>
                <a class="account" href="login/user_login.html">Sign-Up</a>
                <p>Employees login <a href="login/employee_login.html">here.</a></p>
            </div>
            </aside>
            <article class="article">
                <header class="art-header">
                   <h1>Check Out These New Releases!</h1>
                </header>
                <div class="product-row">  
                    <div class="product-release item-1">
                        <h2 class="product-item-header">Drake, <br> More Life</h2>
                        <img class="product-release-img" src="https://images.genius.com/df91da4c0c20709e276c25f1bb6ff87f.640x640x1.jpg" alt="album-cover">
                        <div class="product-release">
                            <p class="product-item-text">$14.99</p>
                            <p class="product-item-text">Year: 2017 <br>SKU: 7217102</p>
                        </div>
                    </div>
                    <div class="product-release item-2">
                        <h2 class="product-item-header">Kehlani, <br> SweetSexySavage</h2>
                        <img class="product-release-img" src="http://imj.ulximg.com/image/740x493/gallery/1485480270_f6a4df615fa0885f66f8fc544d1d46ed.jpg/ac785d78bf53a5efd8ac97976053bdcf/1485480270_cb37f4362a7c816f77119402c45b55e5.jpg" alt="album-cover">
                        <div class="product-release">
                            <p class="product-item-text">$12.99</p>
                            <p class="product-item-text">Year: 2017 <br>SKU: 7217103</p>
                        </div>
                    </div>
                    <div class="product-release item-3">
                        <h2 class="product-item-header">Kendrick Lamaar, <br> Damn</h2>
                        <img class="product-release-img" src="http://s3.amazonaws.com/hiphopdx-production/2017/04/Kendrick-Lamar-DAMN-album-cover-featured-827x620.jpg" alt="album-cover">
                        <div class="product-release">
                            <p class="product-item-text">$14.99</p>
                            <p class="product-item-text">Year: 2017 <br>SKU: 7217104</p>
                        </div>
                    </div>
                </div>
                
			</article>
            <article class="article">
                <header class="art-header"></header>
                    <h2>Upcoming Events</h2>
                <p>Tower District Film Festival -- We're proud to sponser this years Film 
				Festival in the Tower District of Fresno, California.</p>
				<p>Music We Like Contest -- Enter to win a ton of music &amp; movies
				from our new Music We Like book of staff recommendations.</p>
			</article>
        </div>
        <aside id="sidebar-right">
            <div class="login">
                <h4>Sign-in or register an account!</h4>
                <a class="account" href="login/user_login.html">Sign-In</a>
                <a class="account" href="login/register.html">Sign-Up</a>
                <p>Employees login <a href="login/employee_login.html">here.</a></p>
            </div>
            <div class="social">
                <h3>Join Neptune Records via Social Media</h3>
                <p>Follow us today! </p>
                <ul class="social-links">
                    <li><a  href="https://www.facebook.com"><img src="https://img.clipartfest.com/b68ba2ac07e002167057770f502dca3b_facebook-icon-vector-facebook-logo_512-512.png" alt="social_image" style="height:50px;"></a></li>
                    <li><a class="social-icon" href="https://www.instagram.com"><img src="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg" alt="social_image" style="height:50px;"></a></li>
                    <li><a class="social-icon" href="https://www.linkedin.com"><img src="http://www.logoeps.com/wp-content/uploads/2014/07/linkedin-icon-vector.png" alt="social_image" style="height:50px;"></a></li>
                    <li><a class="social-icon" href="https://www.pinterest.com"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="social_image" style="height:50px;"></a></li>
                    <li><a class="social-icon" href="https://www.twitter.com"><img src="https://img.clipartfest.com/2b9fedf2f254517fa6edaf34394b1f5b_new-twitter-logo-vector-eps-twitter-clipart-logo_518-518.png" alt="social_image" style="height:50px;"></a></li>
                    <li><a class="social-icon" href="https://www.youtube.com"><img src="http://www.logoeps.com/wp-content/uploads/2015/07/youtube-logo-full-color.png" alt="social_image" style="height:50px;"></a></li>
                </ul>
            </div>
        </aside>
        <div class="clr"></div>
        </div>
    </body>
</html>