<!--<header class="art-header">
  <h2>Register a New Account</h2>
</header>
<form id="contactForm" method="post" class="form-horizontal">
  <div class="contact-form">
    <h1 class="contact-h1">Become a member!</h1>
    <p>Register an account and shop online!</p>

    <div class="form-group">
      <label class="contact-small" for="firstName">First Name:</label>
      <input class="contact-input" type="text" id="first-name" placeholder="First Name" name="firstName">
    </div>
    <div class="form-group">
      <label class="contact-small" for="lastName">Last Name:</label>
      <input class="contact-input" type="text" id="last-name" placeholder="Last Name" name="lastName">
    </div>
    <div class="form-group">
      <label class="contact-small" for="email">Email Address:</label>
      <input class="contact-input" type="text" id="email" placeholder="Email" name="email">
      <!-- <label class="login-small" for="password">Password</label>
                                <input class="login-input" type="password" id="password">-->
  <!--  </div>

    <div class="form-group">
      <button onclick="login()" id="btn-login" class="btn btn-primary">Sign-Up</button>
      <div id="error-container">
        <p id="error-text" class="error-message"></p>
      </div>
    </div>-->